# Ignored paths and directories
## pycharm project path
.idea

## temporal checkpoints of jupyter notebooks
**/*.ipynb_checkpoints

## manuscript files
**/*.swp # ignores vim temporal files
**/main.pdf # ignores local main.pdf

## temporal TeX files
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/*.out
**/main.pdf

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## ignore _anonymised.cvs
**/*_anonymised_*.csv