# Ignored paths and directories
## pycharm project path
.idea

## temporal checkpoints of jupyter notebooks
**/*.ipynb_checkpoints

## Ignore TEMP_TRAINING_CURVES_FOR_
**/TEMP_TRAINING_CURVES_FOR_*
**/TEMP_DICT_TRAINING_CURVES_FOR_*
**/plotting_results/*.png
**/plot_*.png

## manuscript files: ignores vim temporal files and local main.pdf
**/*.swp 
**/*.tex.swp
**/main.pdf 

## temporal TeX files
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.synctex(busy)
**/*.toc
**/*.vrb
**/*.out
**/main.pdf

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
